* {
    font-family: 'Poppins', sans-serif;
    padding: 0 33px;
}

p {
    font-size: 15px;
}

#top {
    margin-top: 80px;
}

#top h1, #top p {
    text-align: center;
}

#top p {
    /* width: 500px; */
    width: 45%;
    margin: auto;
}

.light {
    font-weight: lighter;
}

.second-heading {
    margin-top: -20px;
}

.tools {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;
}

.box {
    width: 290px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box , .tools h2, .tools p, .tools .box img {
    background-color: white;
}

#supervisor {
    border-top: 5px solid hsl(180, 62%, 55%);
}
#team {
    border-top: 5px solid hsl(0, 78%, 62%);
}
#karma {
    border-top: 5px solid hsl(34, 97%, 64%);
    margin-top: 25px;
}
#calculator {
    border-top: 5px solid hsl(212, 86%, 64%);
}

.tools img {
    float: right;
    margin-top: 10px;
}